h1 {
  color: purple;
  text-align: center;
  padding: 30px;
}

h2 {
  color: black;
  text-align: center;
  padding: 15px;
}

.all-grids {
  margin: 0 auto;
  width: 310px;
}

.all-grids div {
  text-align: center;
  padding-top: 20px;
}

#g0 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;

}

#g1 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
}

#g2 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
}

#g3 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
}

#g4 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
}

#g5 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
}

#g6 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
}

#g7 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
}

#g8 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
}
