h1 {
  color: purple;
  text-align: center;
  padding: 30px;
}

h2 {
  color: black;
  text-align: center;
  padding: 15px;
}

.all-grids {
  margin: 0 auto;
  width: 310px;
}

/*.all-grids div {
  text-align: center;
  padding-top: 20px;
  vertical-align: middle;
}*/

.grid {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
  vertical-align: top;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 30px;
}

/*#1 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
}

#2 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
}

#3 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
}

#4 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
}

#5 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
}

#6 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
}

#7 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
}

#8 {
  height: 100px;
  width: 100px;
  background-color: #57BF70;
  display: inline-block;
  vertical-align: top;
}*/
